{% extends "base.html" %}
{% block title %}{{ title }}{%endblock title %}

{% load staticfiles %}

{% block style %}
body {
    background-image: url("{% static "bigday/images/20181012-105514-k-70-0033.jpg" %}");
	{#background-image: url("{% static "bigday/images/20181023-092741-k-70-0527.jpg" %}");#}
	background-size: cover;
}
{%endblock style %}


{% block page_content %}
	{% if form.errors %}
		<p>Incorrect password. Please try again.</p>
	{% endif %}

	{% if next %}
		{% if user.is_authenticated %}
			<p>Your account doesn't have access to this page. To proceed,
			please login with an account that has access.</p>
		{% else %}
			<p>Please login to see this page.</p>
		{% endif %}
	{% endif %}

	<form method="post" action="{% url 'login' %}">
		{% csrf_token %}
		<table>
			{% comment %}
			<tr>
				<td>{{ form.username.label_tag }}</td>
				<td>{{ form.username }}</td>
			</tr>
			{% endcomment %}
			<tr>
				<td>{{ form.password.label_tag }}</td>
				<td>{{ form.password }}</td>
			</tr>
		</table>
		
		<input type="hidden" name="username" id="id_username" value="weddingguest" />
		
		<input type="submit" value="login" />
		<input type="hidden" name="next" value="{{ next }}" />
	</form>

{% endblock page_content %}
