{% extends "base.html" %}
{% block title %}{{ title }}{%endblock title %}

{% block style %}
body {
	background-image: url("static/bigday/images/20181012-105514-k-70-0033.jpg");
	{#background-image: url("static/bigday/images/20181023-092741-k-70-0527.jpg");#}
	background-size: cover;
}
{%endblock style %}


{% block page_content %}
  
	<div class="starter-template">
		<h1>Save the Date!</h1>
		<p class="lead">
			For the wedding of
		</p>
		<h2>Alex Wheeler and Scott Tripp</h2>
		<p class="lead">
			September 1st, 2019<br>
			San Diego Zoo Safari Park<br>
			15500 San Pasqual Valley Road,
			Escondido, California
		</p>
	</div>

{% endblock page_content %}
